html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  body
    include navbar.pug

    .container
      .row
        .col-xs-6.col-xs-offset-3
          h1 You cand send me an email below:

          form(action="/send-email" method="POST")
            .form-group
              label(for="full_name") Full Name
              input(name="fullName" type="text" id="full_name" class="form-control" placeholder="John Appleseed")
            .form-group
              label(for="email") Email address
              input(name="emailAddress" type="text" id="email" class="form-control" placeholder="johnappleseed@apple.com")
            .form-group
              label(for="email_content") Email:
              textarea(name="content" class="form-control" id="email_content" rows="5" placeholder="Your email goes here...")

            button(class="btn btn-success btn-lg btn-block") Submit
