nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a(class="navbar-brand" href="/") Brand

    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/contact") Contact
